.container {
	text-align: center;
}

img {
	transition: transform .2s;
	height: 300px;
	width: 300px;
}

img:hover {
	transform: scale(0.9);
}

.line {
	height: 6px;
	background-color: black;
	width: 70px;
	margin: 8px auto;
}

body {
	background-image: radial-gradient(#fcb3eb, #d6b3fc, #b3dffc)
}

li {
	list-style-type: none;
}

.carousel-inner p { margin-bottom: 15px; margin-top: 15px; color : white; font-size: 20px; }

#myCarouse2 { background-color: #b5d0d4; } #myCarouse2 img { height: 300px; margin-top: 35px; }